<!doctype html>
<html ng-app='NarrowItDownApp' lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>

  <div ng-controller="NarrowItDownController as narrowCtrl">

    <div>
      <div>

        <div>
          <h2>Narrow Down Your Chinese Menu Choice</h2>
        </div>
        <div>
        <form ng-submit="narrowCtrl.searchMenuItems()">
            <div class="input mdl-textfield mdl-js-textfield">
              <input ng-model="narrowCtrl.searchTerm" type="text" id="keyword">
            </div>
          </form>

          <button ng-click="narrowCtrl.searchMenuItems()" >
            Narrow It Down For Me!
          </button>

        </div>
      </div>

      <found-items
        items="narrowCtrl.found"
        on-remove="narrowCtrl.removeItem(index)">
      </found-items>
    </div>
  </div>
</body>
</html>
